<div class="background">
    <div class="container" mat-grid-list cols="3" rowHeight="3:1">
     <div>
        <mat-card class="mat-card">
        <mat-card-subtitle>Professional Life</mat-card-subtitle>
        <mat-card-title>Software Developer</mat-card-title>
        <mat-card-content>
          <p>My Software Engineering/Software Developer journey 
            began in 2014 with the typical 'Hello World' program.  
            It was my first line of code in Java.
            <br/>
            <br/>
            From there, I went on to learn some C#, Python, Javascript,
            TypeScript and more.
            <br/>
            <br/>
            In 2017, I went through my first bootcamp with a company called TechFleet. 
            While the experience was informative, it did not result in a Software Engineer or Developer position.
            <br/>
            <br/>
            In July of 2022, I was once again provided an opportunity to attend a coding bootcamp.  
            This time, it was with PerScholas, the same company I used to obtain my A+ certification in 2015.
            My 15 weeks at PerScholas did indeed land me a Software Engineer Aprenticeship!
        </p> 
        </mat-card-content>
        <p mat-divider inset></p>
      </mat-card>
    </div>
     <div>
        <mat-card class="mat-card">
            <mat-card-subtitle>Professional Life</mat-card-subtitle>
            <mat-card-title>Certified Scrum Master</mat-card-title>
            <mat-card-content>
              <p>In 2019, I became a Verizon Certified Scrum Master.  Through that training
                I was introduced to the world of Agile and what it means to be a servant leader.
                <br/>
                <br/>
                For the next 3 years, I was more aware of determining story points,
                determining which stories should be included in a sprint, and how to properly structure 
                user stories.
                <br/>
                <br/>
                In March of 2022 I became an Certified Scrum Master through Scrum Alliance.
                <br/>
                <br/>
                In November of 2022 I was provided the opportunity to become an apprentice to a team of 
                Scrum Masters for a Fortune 100 company. I am looking forward to expanding my practical knowledge and experience
                in this promising field as a Servant Leader.
            </p> 
            </mat-card-content>
            <p mat-divider inset></p>
          </mat-card>
     </div>
     <div>
      <mat-card class="mat-card">
          <mat-card-subtitle>Personal Life</mat-card-subtitle>
          <mat-card-title>Goddess Status</mat-card-title>
          <mat-card-content>
            <p>As a graduate of Independence High School's class of 1995, I am a product of the Columbus
              City School system.  I lettered in Track, Drill Team and choir.  Had the honor of singing for Mr. Bill Cosby
              and interned at Deshler Elementary School. 
              <br/>
              <br/>
              I graduated from Penn Foster College in 2009 with an Associates in Criminal Justice while working full 
              time for the State of Ohio.
              <br/>
              <br/>
              In 2014 I obtained my Bachelors in Psychology from Ohio Christian University with a solid 3.5 GPA. 
              <br/>
              <br/>
              My hobbies include coding (seriously, its relaxing), travel, and exposing the world to 
              technology and AfroPino Culture through my networking group - AfroPino Vibes.
              
          </p> 
          </mat-card-content>
          <p mat-divider inset></p>
        </mat-card>
   </div>
    </div>
</div>
<div class="cert">
  <div class="secert">
    <img src="src/assets/Page-005.png" alt="perscholas cert" width="20" height="40">
  </div>
</div>
  