body, html{
    height: 100%;
  }
  
  .bg{
    background-image: image('CapstoneApp/src/assets/appbackground.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }